table {
  margin-left: auto;
  margin-right: auto;
  font-size: 0.7em;
}

td, th{
  padding: 0 5px;
}

select {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  color: #FFF;
  background: #353535;
  border-color: #353535;
  border-radius: 1px;
  margin: 0 5px;
}

button {
  float:right;
  color: #FFF;
  background: #ff5400;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}

#header {
  width: 100%;
  background: #000f27;
  border-bottom: 3px solid #ff5400;
  display: grid;
  grid-template-columns: auto 30%;
  align-items: center;
}
 

#options-container {
  padding: 20px;
}